{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}



	<div class="pagetitle">
		<h1>Dashboard</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="index.html">Home</a>
				</li>
				<li class="breadcrumb-item active">Dashboard</li>
			</ol>
		</nav>
	</div>
	<!-- End Page Title -->
	<section class="section dashboard">

   <table id="table_home">
 
   </table>

    
    </section>
{% endblock %}
{% block javascripts %}
	{{ parent()}}
	{{ encore_entry_script_tags('home') }}
	<script>
		const rutes = {}
		const confi = {
    showFooter: true,
    resizable: true,
	theadClasses: ['table-dark',].join(' '),
    classes: ['table', 'table-borderless', 'table-hover', 'table-striped', 'table-sm'].join(' '),
    columns: [
		[
{
	align: "center",
	title:"Lista de:",
            colspan: 5

        }
		],
		[
        {
            radio: true
        },
        {
            field: "id",
			title: "ID",
            align: "center",
            width: "0.1",
            widthUnit: "rem",
            footerFormatter: idFormatter
        }, {
            field: 'name',
            title: 'Item Name',
            align: "left",
            halign: "left",
            footerFormatter: nameFormatter
        }, {
            field: 'price',
            title: 'Item Price',
            align: "left",
            halign: "left",
            footerFormatter: priceFormatter
        }, {
            field: 'operate',
			  title: 'Accion',
            align: "center",
            halign: "center",
			formatter:operateFormatter
        }]],
    data: data_test()
}


function data_test() {
    const data = Array.from({ length: 100 }, (_, index) => ({
        id: ++index,
        name: `Item ${++index}`,
        price: `$${++index}`
    }));
    return data;
};




function idFormatter() { return 'Total' };

function nameFormatter(data) { return data.length };

function priceFormatter(data) {
    return '$' + data.map(row => +row[this.field].substring(1)).reduce((sum, i) => sum + i, 0)
}
function operateFormatter(value, row, index) {
    return  [
      '<a href="javascript:void(0)">',
      '<i class="text-primary bi bi-pencil-square"></i>',
      '</a>  ',
      '<a href="javascript:void(0)">',
      '<i class="text-danger bi bi-trash"></i>',
      '</a>'
    ].join('')
}
	</script>
{% endblock %}