{% extends 'base.html.twig' %}

{% block title %}Hello ComboController!
{% endblock %}

{% block body %}
	<div class="container">
		<form id="form-combo" class="form-control">
			<select name="example" id="example"></select>
			<select name="exampleDependiente" id="exampleDependiente"></select>
		</form>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent()}}
	{{ encore_entry_script_tags('combo') }}
	<script>
		const rutes = {
pais : '{{ path('app_combo_pais') }}',
depto : '{{ path('app_combo_depto') }}',
}
	</script>

{% endblock %}
