{% extends 'base.html.twig' %}

{% block title %}Hello ComboController!
{% endblock %}

{% block body %}
	<div class="container">


		<div class="row"></div>
		<canvas id="chart" class="col-12"></canvas>
		<div id="chart2" class="col-12"  style=""></div>
	</div>

{% endblock %}

{% block javascripts %}
	{{ parent()}}
	{{ encore_entry_script_tags('combo') }}
	<script>
		const rutes = {};
	</script>

{% endblock %}
