<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="form_municipio">
        <input type="text" required>
        <select id="country" name="country" required>
            <option value="" selected>Select a country</option>
            <option value="us">United States</option>
            <option value="ca">Canada</option>
            <option value="mx">Mexico</option>
        </select>
        <input type="submit" value="Enviar">
    </form>

    <script type="module">
        
     </script>
</body>
</html>
