{% extends 'base.html.twig' %}
{% block title %}certificado{% endblock %}
{% block content %}
<div class="cbody">
    
</div>
<div class="container">
    <div class="row justify-content-center mb-5">
        <div class="col-4"><h1>titulo document</h1></div>
    </div>
    <div class="row justify-content-left mb-5">
        <div class="col-3"><img src="https://cdn.pixabay.com/photo/2023/07/18/07/17/pineapple-8134236_1280.jpg" class="img-thumbnail border border-0" alt="..."></div>
        <div class="col-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minus officiis magnam eaque
            neque recusandae quis magni quo quod nihil distinctio, nam, nobis voluptates ut fuga ex. Ipsum, cum unde?
        </div>
    </div>
    <div class="row">
        <div class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minus officiis magnam eaque
            neque recusandae quis magni quo quod nihil distinctio, nam, nobis voluptates ut fuga ex. Ipsum, cum unde?
        </div>
    </div>
    <div class="row">
        <div class="col-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat minus officiis magnam eaque
            neque recusandae quis magni quo quod nihil distinctio, nam, nobis voluptates ut fuga ex. Ipsum, cum unde?
        </div>
    </div>
</div>


{% endblock %}